name: Terraform Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init
        working-directory: terraform-azure-webapp

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform-azure-webapp

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform-azure-webapp
